---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro'
import Grid from '@/components/Grid.astro'
import Pagination from '@/components/Pagination.astro'

export async function getStaticPaths ({paginate}) {
  const movies = await getCollection("movies")
  movies.reverse()

  return paginate(movies, {pageSize: 10})
}

const {page} = Astro.props
const movies = page.data
const metaTitle = "Lista de películas - MovieEs"
const metaDesc = "Descarga películas en español completamente gratis desde Telegram"
---
<Layout title={metaTitle} desc={metaDesc}>
  <main class="mt-secondary">
    <h1 class="mb-primary text-title text-2xl font-bold">Lista de Películas</h1>
    <Grid movies={movies}/>
    <Pagination page={page} />
  </main> 
</Layout>
